body {
  background-color: rgb(235, 210, 145);
  color: white;
  font-family: helvetica;
  font-weight: 100;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 20px;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
}

h1 {
  color: white;
  font-family: helvetica;
  font-weight: 100;
  letter-spacing: 6px;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: helvetica;
  color: rgb(191, 107, 183);
  text-align: center;
  
}
P {
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 35px 50px rgba(0,0,3,.1);
  background-color: rgb(220, 190, 160);
  text-align: center;

}

li {
  color: rgb(255, 162, 3);
  text-decoration: none;
  font-size: 30px;
}

#Logo{
  padding: 20px;                             /* Internal space */
  border-radius: 60%;                        /* Small radius */
  box-shadow: 0 35px 50px rgba(0,0,3,.1);
}

.img-circle{
  border-radius: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* Custom design */

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white{
  background-color:rgb(235, 202, 145);
  padding: 40px;
  box-shadow: 0 35px 45px rgba(247, 227, 188);
  border-radius: 5px;
  margin: 20px 0px;
}

.btn-purple {
  background-color:rgb(191, 107, 183);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.list-inline {
list-style: none;
padding-left: 0px;
padding: 0px 230px;
}

.list-inline li {
  display: inline;
  padding: 15px;
  text-align: center;

}

.list-inline i {
  font-size: 50px;
  color: rgb(191, 107, 183);
}

.list-inline i:hover {
  font-size: 50px;
  color: white;
}




